<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">Student Task Manager</a>
            
        </div>

        <div class="nav-links">
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>

            <a href="/comp_tasks" class="{% if request.path == '/comp_tasks' %}active{% endif %}">
                Completed Tasks
            </a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>